.calendar-box{
		font-family: "Microsoft Yahei";
		float: left;
		width: 350px;
		margin:0 100px;
	}
	.month-box{
		text-align: center;
		background-color: #c61b01;
		line-height: 40px;
	}
	.month-box span{
		line-height: 40px;	
		cursor: pointer;
	}
	.month-box select{
		cursor: pointer;
		color: #fff;
		margin:0 5px;
		font-family: "Microsoft Yahei";
		outline: none;
		font-size: 16px;
		background-color: transparent;
		border: 0;
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
	}
	.month-box select:hover{
		color: #000;
	}
	.date-box{
		padding: 0 10px;
		width: 100%;
		text-align: center;
		border: 2px solid #ccc;
		border-top: 0;
	}

	.date-box th,
	.date-box td{
		width: 40px;
		height: 45px;
	}
	.active-date{
		cursor: pointer;
	}
	.active-date:hover{
		color: #fff;
		background-color: #c61b01;
	}
	.choose-date{
		color: #fff;
		background-color: #c61b01;
	}
	.unactive-date{
		color: #ccc;
	}
	.red{
		color: #c61b01;
	}
	.next-month{
		margin:12px 10px 0 0;
		border-top:8px solid transparent;
    	border-bottom:8px solid transparent;
    	border-left:12px solid #fff;
		float: right;
	}
	.pre-month{
		margin:12px 0 0 10px;
		border-top:8px solid transparent;
    	border-bottom:8px solid transparent;
    	border-right:12px solid #fff;
		float: left;
	}
	.date-hide{
		display: none;
	}
	.confirm-box{
		text-align: center;
	}
	.confirm-box button{
		padding: 5px 25px;
		margin:10px 20px;
	}