<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>日历</title>
	<script src="vue.js"></script>
	<link rel="stylesheet" href="calendar.css"></head>
<body>
	<div id="date" >
		<calendar></calendar>
		<calendar-mult :mult.sync="multflag" :min-interval="min" :max-interval="max" ></calendar-mult>
	</div>

	<!-- 以下是日历的模板 -->
	<script type="text/x-template" id="calendar-template">
	<div class="calendar-box">
		<p v-if='mult'>这是选择日期段的</p>
		<p v-else>这是选择日期的</p>
		<input type="text" v-model='msg' @click='dispaly'>
		<div :class="{'date-hide' : hideFlag}">
			<div class="month-box">
				<span class="pre-month" @click='preMonth'></span>
				<select name="year" id="year" v-model='sYear' @change='update'>
					<option v-for='y in yearRange' :value='y'>{{y}} 年</option>
				</select>
				<select name="month" id="month" v-model='sMonth' @change='update'>
					<option v-for='m in monthRange' :value='m'>{{m}} 月</option>
				</select>
				<span class="next-month" @click='nextMonth'></span>
			</div>
			<table class="date-box">
				<thead>
					<tr>
						<th v-for='weekName in weeks' track-by="$index"
					:class="{'red' : $index == 0 || $index == 6}">{{weekName}}</th>
					</tr>
				</thead>
				<tbody>
					<template v-if="mult">
					<tr v-for='week in daysData'>
						<td v-for='dayObj in week' 
							:class="[dayObj.active ? 'active-date':'unactive-date',
								{'choose-date' : dayObj.active && 
												((dayObj.day == pDay && pMonth == sMonth && pYear == sYear) ||
												(dayObj.day == nDay && nMonth == sMonth && nYear == sYear)),
								'red' : dayObj.active && ($index == 0 || $index == 6) && 
										dayObj.day != pDay && dayObj.day != nDay}]"
								@click="chooseInterval(dayObj)">{{dayObj.day}}</td>
					</tr>
					</template>
					<template v-else >
					<tr v-for='week in daysData'>
						<td v-for='dayObj in week' 
							:class="[dayObj.active ? 'active-date':'unactive-date',
								{'choose-date' : dayObj.day == sDay && dayObj.active,
								'red' : ($index == 0 || $index == 6) && dayObj.day != sDay && dayObj.active}]"
							@click="chooseDay(dayObj)">{{dayObj.day}}</td>
					</tr>
					</template>
				</tbody>
			</table>
			<div class="confirm-box" v-if='mult'>
				<button @click='confirm'>确认</button>
				<button @click='cancel'>取消</button>
			</div>
		</div>
	</div>
</script>
	<!-- 以上是日历的模板 -->
</body>
	<script src="calendar.js"></script>
</html>