.defalut-height {
  height: 1.06666667rem;
  line-height: 1.06666667rem;
}
.defalut-margin-left {
  margin-left: 0.53333333rem;
}
* {
  margin: 0;
  padding: 0;
}
/*---------------------------------主页部分样式-------------------------------*/
body {
  background-color: #f0f0f2;
  font-size: 16px;
}
a{
  text-decoration: none;
  color: #00f;
}
.container {
  margin: 0 0.26666667rem;
}
header {
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  color: #fff;
  background-color: #29b6f6;

}
.header-title{
  text-align: center;
  margin: 0 auto;
  width: 4.7rem;
}
.bg-img {
  height: 150px;
}
.place {
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  margin-top: 0.5em;
  border-bottom: 1px solid #ccc;
}
.place > span {
  margin-left: 0.53333333rem;
  display: inline-block;
}
.place > p {
  color: #101010;
  font-size: 14px;
  margin-left: 0.26666667rem;
  display: inline-block;
}
.select-style {
  font-size: 16px;
  background-color: transparent;
  border: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin-left: 0.53333333rem;
  width: 5.33333333rem;
  height: 0.8rem;
}
.btn-query {
  margin-top: 0.5em;
  border: 0;
  width: 100%;
  border-radius: 5px;
  background-color: #ff8126;
  color: #fff;
  padding: 0.26666667rem;
  text-align: center;
}
.nav {
  text-align: center;
  width: 100%;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  position: fixed;
  bottom: 0;
  background-color: #aaa;
}
.nav > li {
  display: inline-block;
  width: 20%;
}
.goBack {
  cursor: pointer;
  position: absolute;
  font-size: 14px;
  left: 0.53333333rem;
  color: #fff;
}
/*---------------------------------主页部分样式-------------------------------*/
/*---------------------------------choose.html样式-------------------------------*/
.choose-box {
  height: 1.6rem;
  border-bottom: 1px solid #ccc;
}
.choose-title-box {
  margin-left: 0.53333333rem;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 12px;
}
.choose-title {
  display: inline-block;
}
.choose-query {
  margin: 0 0.26666667rem;
}
/*---------------------------------choose.html样式-------------------------------*/
/*---------------------------------oeder.html样式-------------------------------*/
.date {
  background-color: #eee;
  height: 1.06666667rem;
  border-bottom: 1px solid #ccc;
}
.day-style {
  padding: 0 0.53333333rem;
  cursor: pointer;
  line-height: 1.06666667rem;
  text-decoration: none;
  color: #03f;
}
#pre-day {
  float: left;
  border-right: 1px solid #ccc;
}
#next-day {
  float: right;
  border-left: 1px solid #ccc;
}
.order-trip {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}
thead > tr {
  font-size: 14px;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  background-color: #eee;
  font-weight: bold;
}
tbody > tr {
  font-size: 12px;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  border-bottom: 1px solid #ccc;
}
.book {
  text-decoration: none;
  color: #1dc476;
}
.current-day {
  color: #03a9f4;
  line-height: 1.06666667rem;
  text-align: center;
}
/*---------------------------------oeder.html样式-------------------------------*/

/*---------------------------------confirm.html样式-------------------------------*/
.confirm {
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  border-bottom: 1px solid #ccc;
  padding:0.13333333rem 0;
}
.con-title {
  font-size: 14px;
  color: #7a7a7a;
  margin:0 0.26666667rem;
}
#ticket-num {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 0.7rem;
  line-height: 0.7rem;
}

.btn-ticket{
  vertical-align: middle;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #ddd;
  height: 0.7rem;
  line-height: 0.7rem;
  width:  0.7rem;
  color: #fff;
  font-weight: bold;
  font-size: 0.7rem;
  border: 0;
}

.pay-way-box {
  margin: 1.6rem 0 0.5rem 0;
}
.pay-way-box div{
  border-bottom: 1px solid #ccc;
  padding: 0.2rem 0.5rem;
  height: 0.7rem;
  line-height: 0.7rem; 
}
.pay-way-box div label span{
  margin-left: 0.5rem;
  vertical-align: top;
  display: inline-block;
}
.pay-way{
  height: 0.7rem;
  vertical-align: middle;
  float: right;
  margin-left: 1rem;
}
/*---------------------------------confirm.html样式-------------------------------*/

/*---------------------------------login.html样式-------------------------------*/
.reg{
  float:right;
  color: #fff;
  padding-right: 0.5rem;
}
.reg a{
  text-decoration:none;
  color: #fff;
}
.login-box {
  border-radius: 0.2rem;
  border: 1px solid #ccc;
  margin: 0.5rem 0.3rem;
}
.lab{
  display: inline-block;
  width: 2rem;
  text-align: center;
}
.forget-psw{
  margin-left:0.3rem;
}
.in-text,.in-chk-code{
  outline:none;
  font-size: 16px;
  background-color: transparent;
  border: 0;  
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 1.1rem;
}
.in-chk-code{
  width: 2.5rem;
}
.login-box a{
  margin-left: 0.3rem;
  color: #00f;
}
.submit-box{
  margin: 0.5rem 0.3rem;
}
.space{
  height: 0.5rem;
}
/*---------------------------------login.html样式-------------------------------*/


/*---------------------------------myOrder.html样式-------------------------------*/
.order{
  font-family: "Microsoft Yahei";
  background-color: #fff;
  margin-bottom: 40px;
}
.order .status{
  margin-left: 50px;
}
.order .o-date{
  line-height: 40px;
  height: 40px;
}
.order .trip{
  background-color: #eee;
  font-size: 20px;
  height: 60px;
  line-height: 60px;
}
.order .price{
  float: right;
  margin-right: 30px;
  color: #c23232;
}
.order .chkCode{
  line-height: 40px;
  height: 40px;
}
.order .num{
  line-height: 40px;
  height: 40px;
}
.order .g-p{
  color:#bbb;
}
.more{
  text-align: center;
  padding: 20px;
}
/*---------------------------------myOrder.html样式-------------------------------*/